

img{
  max-height: 200px;
  max-width: 150px;
}

.imageContainer{
  width: 150px;
  height: 200px;
  margin: 50px;
}

body{
  background-color: aqua;
}

.gameBoard{
  background-color: white;
}

.scoreRibbon{
  color: darkblue;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
}

.jumbotron{
  text-align: center;
  background-color: yellow;
  color: darkblue;
}